/*inportacion por tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'golos text';
    font-weight: 900;

}
/*selector de etiqueta*/
h2{
    color:red;
}
/*selector de id*/
#site_text{
    background-color: black;
}
/*selector de clases*/
.subtitles{
    font-family: 'golos text';
}
/*selector por atributos*/
[disabled]{
background-color: darkmagenta;
}
/* selector por id - boton enviar*/
#btn_send{
    margin: 20px;
    padding: 50px;
}
/*selector por pseudoclases*/
#btn_send:hover{
    background-color: blanchedalmond;
    color: purple;
    font-size: 20px;
    box-shadow: 0px 10px 10px rebeccapurple;
    transition: ease-in 0.5;
    border-radius: 1px solid black ;
}
#papa{
    margin: 50px;
    border: 2px solid red;
    border-radius:  10px;
}
.hermanos{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}
#nh_uno{
    color: blue;
}
/*selector decendiente hijo*/
#papa > .hermanos > #nh_uno{
    color: orange;
}
/*selector decendiente*/
#papa.nieto{
    color: red;
}
#title_box{
    color: blue;
    font-family: 'golos text', sans-serif;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    margin: 50px;
    border: 5px double  #000;
    border-radius : 10px;
    box-shadow: 0px 0px 10px 5px blue;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-size: 21px;
}
#box_father{
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-image: url(https://previews.123rf.com/images/aprillrain/aprillrain2212/aprillrain221200638/196354278-imagen-de-caricatura-de-un-astronauta-sentado-en-una-luna-ilustraci%C3%B3n-de-alta-calidad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
@media (min-width:"800px")and( max-width:"1200px"){
    body{
        background-color: red;
    }
    h1{
        text-align: center;
    }
}
/*media querys de 799 para abajp*/
@media ( max-width : 799px){
    body{
        background-image: url(https://previews.123rf.com/images/aprillrain/aprillrain2212/aprillrain221200638/196354278-imagen-de-caricatura-de-un-astronauta-sentado-en-una-luna-ilustraci%C3%B3n-de-alta-calidad.jpg) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
